<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Autor: David Gutiérrez Pérez</h1>
  <h3>Modulo: HLC</h3>
  <h3>Curso: 2DAW</h3>
  <h3>Centro: IES Los Remedios</h3>

  
  <h3>Para llamar al desarrollador</h3>
  <ion-button (click)="call()">Pulsa Aquí</ion-button> 

  <h3>Ubicación del Negocio</h3>
  <!-- Mostramos el mapa -->
  <div id="mapId" style="width:70%; height:60%; "></div>

  <h3>Volver al Inicio</h3>
  <ion-button (click)="volver()">Home Page</ion-button>
</ion-content>
