<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="margin-left: 1%;">Detalles Producto {{idProducto}}</h1>

  <!-- Mostramos imagen solo si existe, si no, mostramos un texto -->
  <div *ngIf="productoSeleccionado.data.imagenURL!==''; else sinImagen">
    <img [src]="productoSeleccionado.data.imagenURL" height="200px" alt="imagen" />
  </div>
  <ng-template #sinImagen>
    <p>Producto sin imagen</p>
  </ng-template>

  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Nombre</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.nombre"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Descripcion</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.descripcion" multiline="true"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Ingredientes</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.ingredientes"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Precio</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.precio"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <!-- Botones de Acción -->

  <!-- Acciones del producto -->
  <div>
    <h3>Acciones del producto</h3>
    <ion-button *ngIf="idProducto==='Insert_Producto'" (click)="clickInsertar()">Insertar Producto</ion-button>
    <ion-button *ngIf="idProducto!=='Insert_Producto'" (click)="actualizaProducto()">Editar Producto</ion-button>
    <ion-button *ngIf="idProducto!=='Insert_Producto'" (click)="confirmarBorrado()">Borrar Producto</ion-button>
  </div>

  <!-- Acciones de la pagina -->
  <div>
    <h3>Acciones de la Página</h3>
    <ion-button (click)="clickCancelar()">Cancelar</ion-button>
    <ion-button (click)="compartir()">compartir ingredientes</ion-button>
  </div>

  <!-- Acciones de la imagen -->
  <div>
    <h3>Acciones de la imagen</h3>
    <ion-button (click)="seleccionarImagen()">Asignar Imagen</ion-button>
    <ion-button (click)="eliminarImagen(productoSeleccionado.data.imagenURL)">Borrar</ion-button>
  </div>
  
</ion-content>
