<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="margin-left: 1%;">Detalles Producto {{idProducto}}</h1>

  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Nombre</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.nombre"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Descripcion</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.descripcion" multiline="true"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Ingredientes</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.ingredientes"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="input_producto">
    <ion-card-content>
      <h3>Precio</h3>
      <ion-input [(ngModel)]="productoSeleccionado.data.precio"></ion-input>
    </ion-card-content>
  </ion-card>
  

  <!-- Botones de Acción -->
  <ion-button *ngIf="idProducto==='Insert_Producto'" (click)="clickInsertar()">Insertar Producto</ion-button>
  <ion-button *ngIf="idProducto!=='Insert_Producto'" (click)="actualizaProducto()">Editar Producto</ion-button>
  <ion-button *ngIf="idProducto!=='Insert_Producto'" (click)="confirmarBorrado()">Borrar Producto</ion-button>
  <ion-button (click)="clickCancelar()">Cancelar</ion-button>

  <ion-button (click)="compartir()">compartir titulo</ion-button>

  <!-- Botones de imagenes -->
  <ion-button (click)="seleccionarImagen()">Seleccionar</ion-button>
  <ion-button (click)="subirImagen()">Subir</ion-button>
  <ion-button (click)="eliminarImagen(productoSeleccionado.data.imagenURL)">Borrar</ion-button>

</ion-content>
