<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos Pastelería - Fase 6
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- boton ion-fab-button -->
  <ion-fab (click)="clickAddTarea()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button aria-label="Añadir nuevo elemento">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
 </ion-fab>

 <!-- Añadimos pestañas -->
 <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- pestaña para home -->
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <!-- pestaña para indo -->
      <ion-tab-button tab="info">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Ver Info</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
   </ion-tabs>
 </ion-toolbar>

 <br>
 <br>

 
 <!-- Lista de productos -->
 <ion-item>
  <legend>Lista de Productos</legend>
 </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let producto of arrayProductos" (click)="selecProducto(producto)">
      <ion-card class="producto_select">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>{{producto.data.nombre}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2>{{producto.data.descripcion}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2>Ingredientes: {{producto.data.ingredientes}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2>Precio: {{producto.data.precio}} €/kg</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
